<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>메모 목록</title>
</head>
<body>
<a href="/memoFrom.html">메모 추가하기</a>
<table>
    <tr>
        <th>No.</th>
        <th>내용</th>
        <th>등록일</th>
    </tr>
    <tr th:each="memo, iterStat : ${memos}">
        <td><p th:text="${iterStat.count}"></p></td>
        <td><p th:text="${memo.content}"></p></td>
        <td><p th:text="${#temporals.format(memo.createdAt, 'yyyy-MM-dd HH:mm')}"></p></td>
    </tr>
</table>
</body>
</html>